<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Ecomerce Website</a>
        <form class="d-flex gap-4" role="search">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Contact</a>

            <select name="category">

                <option value="">Department</option>
                <option value="HOMDECOR"><a routerLink="">Homedecor</a></option>
                <option value="HOTTREND"><a href="">Hottrend</a></option>
            </select>
        </form>
    </div>
</nav>